<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico con nadie más.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Verificado</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  
<form action="#">
    <div class="row mb-1">
        <div class="col">
            <label class="form-label">First Name</label>
            <input type="text" name="firstName" class="form-control" placeholder="First name"
                aria-label="First name" required>
        </div>
        <div class="col">
            <label class="form-label">Last Name</label>
            <input type="text" name="lastName" class="form-control" placeholder="Last name"
                aria-label="Last name" required>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email"
                aria-label="Email" required>
        </div>
        <div class="col">
            <label class="form-label">Phone (optional)</label>
            <input type="text" name="phone" class="form-control" placeholder="Phone"
                aria-label="Phone">
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control" placeholder="Subject"
                aria-label="Subject" required>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label class="form-label">Message</label>
            <textarea type="text" name="message" class="form-control" placeholder="Message"
                aria-label="Message" required></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form></a></li>
